.container{
    margin-top: 50px;
    margin-right: 50px;
}
.modal-content{
    background-color:rgb(32, 136, 136);
}
.forms{
    display: grid;
    width: 100%;
}
input{
    text-align: center;
    background-color:darkkhaki;
}
.submit{
    border: solid;
    background-color: beige;
    border:none;
    color: darkslategrey;
    font-weight: 800;
}